:root {
    /* Background colors */
    --main-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --accent-background-color: #2f303a;
    --container-background-color: #eeeeee;
    /* Text colors */
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196f3;
    --logo-color: #000000;
    --address-color: rgba(255, 255, 255, 0.6);
    /* Fonts */
    --logo-font-family: Raleway, sans-serif;
    --main-font-family: Roboto, sans-serif;
    /* Others */
    --header-line-color: #ececec;
}

body {
    margin: 0;

    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Шапка */

.header {
    border: 1px solid var(--header-line-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    /* outline: 1px solid red; */
}

.header-container,
.header-nav,
.nav-list,
.contacts-list {
    display: flex;
    align-items: center;
}

.contacts-list {
    margin-left: auto;
}

.nav-list,
.contacts-list {
    gap: 50px;
}

.logo {
    display: block;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--logo-color);
    font-family: var(--logo-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-accent {
    color: var(--accent-color);
}

.list {
    list-style: none;
    padding-left: 0;
}

.link,
.contacts-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.link {
    color: var(--secondary-text-color);
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--accent-color)
}

.link.current {
    color: var(--accent-color);
}

.contacts-link {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color)
}

/* Секція Герой */

.hero {
    background-color: var(--accent-background-color);
    text-align: center;
}

.hero-title {
    margin-bottom: 30px;

    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn {

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 216px;
    border: 1px solid transparent;
    border-radius: 4px;

    background-color: var(--accent-color);
    color: #FFFFFF;
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.btn:active {
    background-color: #FFFFFF;
}

.btn:hover,
.btn:focus {
    background-color: #188CE8;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Особливості */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-container {
    display: flex;
    justify-content: space-between;
}

.feature-item {
    width: 270px;
}

.features-name {
    margin-bottom: 10px;

    color: var(--secondary-text-color);
    line-height: 1.1;
    text-transform: uppercase;
    font-size: 14px;
}

.features-text {
    line-height: 1.7;
}

/* Чим ми займаємося */

.work-section {
    padding-bottom: 94px;
}

.work-container {
    display: flex;
    justify-content: space-between;
}

.work-title,
.team-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--secondary-text-color);
}

/* Наша команда */

.team-container {
    display: flex;
    justify-content: space-between;
}

.team {
    background-color: var(--secondary-background-color);
}

.team-list {
    background-color: var(--main-background-color);
}

.team-photo {
    margin-bottom: 30px;
}

.team-member {
    margin-bottom: 10px;

    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.team-text {
    padding-bottom: 30px;

    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

/* Футер */

.footer {
    background-color: var(--accent-background-color);
}

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo.logo-footer {
    display: inline-block;
    margin: 0 0 20px 0;
    padding: 0
}

.logo-white {
    color: #FFFFFF;
}

.address {
    font-style: inherit;
}

.address-item,
.city-address {
    display: inline-block;
    margin-bottom: 9px;

    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.city-address {
    color: #FFFFFF;
}

.address-item {
    color: var(--address-color);
}

.address-item:hover,
.address-item:focus {
    color: #FFFFFF;
}

/* Наші проєкти */

.btn-filter {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.filter-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn-filter {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 73px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-filter.current {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.btn-filter:active,
.btn-filter:hover,
.btn-filter:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.projects-photo {
    margin-bottom: 20px;
}

.projects-title {
    margin-bottom: 4px;

    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects-item {
    flex-basis: calc((100% - 30px * 2) / 3);
    border: 1px solid var(--container-background-color);
}

.projects-data {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}